$green-dark: #0d2215;
$green-medium: #455f47;
$green-light: #479148;
$white: #fffbe4;
$light: #d9d5a6;
$yellow: #ddc360;
$brown: #c57034;
$orange: #fea03c;

$purple: rgba(100, 0, 123, 1);
$purple-dark: rgba(62, 20, 86, 1);
