*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}
body {
  font-size: 62.5%;
  background: $white;
  font-family: 'Quicksand', sans-serif;
  color: white;
  background: rgb(100, 0, 123);
  background: radial-gradient(
    circle,
    rgba(100, 0, 123, 1) 0%,
    rgba(62, 20, 86, 1) 100%
  );
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: white;
  font-family: 'Quicksand', sans-serif;
  font-weight: bold;
  line-height: 1.5em;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3rem;
}
h3 {
  font-size: 2rem;
}
p {
  font-size: 1.6rem;
  line-height: 1.5em;
}
a {
  text-decoration: none;
  font-size: 1.2rem;
}
button {
  font-family: 'Quicksand', sans-serif;
}

$breakpoint-tablet: 768px;
@media (min-width: $breakpoint-tablet) {
}
